build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/*
!.idea/inspectionProfiles/
!.idea/scopes/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer/
