build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.idea/*
!.idea/compiler.xml
!.idea/gradle.xml
!.idea/jarRepositories.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/modules/
!.idea/scopes/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer/
